.profileCard {
    margin: 10px auto;
    text-align: center;

    max-width: 300px;

    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: hidden;
}

.intro {
    padding: 20px;
}

.avatar {
    margin-bottom: 15px;

    width: 120px;
    height: 120px;

    border-radius: 100%;
    background-color: #141414;
}

.userName {
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 10px;
}

.secondaryInfo {
    color: #808080;
}

.secondaryInfo:not(:last-child) {
    margin-bottom: 7px;
}

.statsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;

    background-color: #d3d3d3;
}

.statsListItem {
    padding: 10px;
    border-top: 1px solid #808080;
}

.statsListItem:not(:last-child) {
    border-right: 1px solid #808080;
}

.statsListItem span {
    display: block;
}

.statCount {
    font-weight: 700;
}